In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv('/home/priyanshu/Desktop/PRIYANSHU/MAIN/LAB/breast.csv')
data.head()

   1000025  5   1  1.1  1.2  2  1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7   10  3    2    1    2
1  1015425  3   1    1    1  2    2  3    1    1    2
2  1016277  6   8    8    1  3    4  3    7    1    2
3  1017023  4   1    1    3  2    1  3    1    1    2
4  1017122  8  10   10    8  7   10  9    7    1    4

In [3]:
colnames=['ID', 'RADIUS', 'TEXTURE', 'PERIMETER', 'AREA', 'SMOOTHNESS', 'COMPACTNESS', 'CONCAVITY', 'CONCAVE', 'SYMMETRY', 'FRACTAL']
data = pd.read_csv('/home/priyanshu/Desktop/PRIYANSHU/MAIN/LAB/breast.csv', names=colnames, header=None)
data.head()

,ID,RADIUS,TEXTURE,PERIMETER,AREA,SMOOTHNESS,COMPACTNESS,CONCAVITY,CONCAVE,SYMMETRY,FRACTAL
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
from sklearn.cross_validation import train_test_split
X = data.iloc[0:, [1,2,3,4,5,6,7,8,9]].values
X_train,X_test,Y_train,Y_test = train_test_split(X,data['FRACTAL'], test_size=0.3, random_state=0)

/home/priyanshu/.local/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
X

array([[ 5,  1,  1, ...,  3,  1,  1],
       [ 5,  4,  4, ...,  3,  2,  1],
       [ 3,  1,  1, ...,  3,  1,  1],
       ...,
       [ 5, 10, 10, ...,  8, 10,  2],
       [ 4,  8,  6, ..., 10,  6,  1],
       [ 4,  8,  8, ..., 10,  4,  1]])

In [6]:
rf = RandomForestClassifier(n_estimators = 100)
rf.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [9]:
accuracy = rf.score(X_test, Y_test)
print("Accuracy = {}% ".format(accuracy*100))

Accuracy = 95.2380952381%

In [16]:
X = [[6,2,4,1,4,6,4,5,2]]
rf.predict(X)

array([4])