In [1]:
#MULTIVARIATE LINEAR REGRESSION

In [2]:
import pandas as pd
data = pd.read_csv('C:/Users/PRIYANSHU SHARMA/Desktop/PRIYANSHU/6 STUDY/6 SEMSTER/MACHINE LEARNING/LAB/breast.csv')
data.head()

   1000025  5   1  1.1  1.2  2  1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7   10  3    2    1    2
1  1015425  3   1    1    1  2    2  3    1    1    2
2  1016277  6   8    8    1  3    4  3    7    1    2
3  1017023  4   1    1    3  2    1  3    1    1    2
4  1017122  8  10   10    8  7   10  9    7    1    4

In [3]:
colnames=['ID', 'RADIUS', 'TEXTURE', 'PERIMETER', 'AREA', 'SMOOTHNESS', 'COMPACTNESS', 'CONCAVITY', 'CONCAVE', 'SYMMETRY', 'FRACTAL']
data = pd.read_csv('C:/Users/PRIYANSHU SHARMA/Desktop/PRIYANSHU/6 STUDY/6 SEMSTER/MACHINE LEARNING/LAB/breast.csv', names=colnames, header=None)
data.head()

,ID,RADIUS,TEXTURE,PERIMETER,AREA,SMOOTHNESS,COMPACTNESS,CONCAVITY,CONCAVE,SYMMETRY,FRACTAL
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression

In [5]:
X = data[['CONCAVE','COMPACTNESS']].values
Y = data[['AREA']].values

In [6]:
regr = linear_model.LinearRegression()
regr.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
x = [[10,20]]   #x = [[concave , compactness]] , for these value of concave and compactness we have to predict the area

In [13]:
area_std = regr.predict(x)
print("AREA: %.3f" %area_std)

AREA: 11.223